.new {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: background 1s;

  &-time {
    pointer-events: none;
    min-width: calc(2.2 * 18vh);
    text-align: center;
    font-size: 18vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-shadow: 0 0 5px #000;
    font-family: fantasy;
    white-space: nowrap;

    &-date {
      position: absolute;
      bottom: -2vh;
      left: 0;
      font-size: 4vh;
    }
    &-day {
      position: absolute;
      bottom: -2vh;
      right: 1vh;
      font-size: 4vh;
    }
  }

  .react-calendar {
    background: none;
    border-radius: 5px;
    border-color: #fff;
    box-shadow: 0 0 5px #000;
    z-index: 1;
    width: 450px;
    padding-right: 5px;
    padding-bottom: 5px;
    margin-top: 1vh;
    margin-left: 1vh;
    display: inline-block;
  }
  .react-calendar button {
    color: #fff;
    text-shadow: 0 0 5px #000;
    cursor: default;
  }
  .react-calendar__month-view__weekdays {
    color: #fff;
    text-shadow: 0 0 5px #000;
  }
  .react-calendar__tile {
    padding: 0;
  }
  .react-calendar__tile--active,
  .react-calendar__tile--hasActive {
    background: unset;
  }
  .react-calendar__tile--now {
  }
  .react-calendar__month-view__days__day {
  }
  .react-calendar__tile:disabled {
    background: none;
  }
  .react-calendar__month-view__days__day--neighboringMonth {
    color: rgba(255, 255, 255, 0.5) !important;
  }
  .react-calendar__tile:enabled:hover,
  .react-calendar__tile:enabled:focus,
  .react-calendar__navigation button:enabled:hover,
  .react-calendar__navigation button:enabled:focus {
    background: unset;
  }
  .react-calendar__navigation__label {
    pointer-events: none;
  }

  .react-calendar__tile--active {
    .new-cale-day {
      border: 1px solid #fff;
      text-shadow: 0 0 5px #000;
      border-radius: 5px;
    }
  }
  .new-cale-day {
    text-align: center;
    padding: 5px 0;
    border-radius: 5px;
    margin: 5px 0 0 5px;
    height: 45px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    &-holiday-no-work {
      background-color: rgba(255, 0, 0, 0.2);
    }

    &-title {
      font-size: 16px;

      &-no-work {
        color: red;
        font-weight: bold;
      }
    }
    &-content {
      margin-top: 5px;
      font-size: 12px;
    }
  }

  .new-cale-open {
    display: inline-block;
    color: #fff;
    text-shadow: 0 0 5px #000;
    cursor: pointer;
    font-size: 14px;
    text-align: center;
    width: 25px;
    border: 1px solid #fff;
    border-left: 0;
    border-radius: 0 5px 5px 0;
    margin-top: 20px;
    padding-bottom: 5px;

    &-symbol {
      font-size: 20px;
    }
  }
}
